<!DOCTYPE html>
<html ng-app="testapp">
<head>
  <title>ApiEncuestas</title>
  <%= stylesheet_link_tag    'application', media: 'all' %> 
  <%= javascript_include_tag 'application', controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
	<p class="alert alert-success"> <%=notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-danger"> <%=alert %></p>
<% end %>

    <%= yield %>

    <%= render 'layouts/usuario_widget' %>

	

</body>
</html>
